.modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: aliceblue;
  opacity: 0.9;
  display: none;
  z-index: 1;
}

.login-container{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  display: none;
  background-color: rgb(230, 235, 230);
  z-index: 1;
}

.login-content{
  position: relative;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 50%;
  animation: login 0.5s;
  border: 1px solid rgb(109, 108, 108);
  box-shadow: 1px 1px 2px 0 black;
}

.right-image{
  width: 15%;
  height: 100%;
}

.field-div{
  width: 100%;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.heading{
  padding-left: 10px;
  font-style: bold;
  font-size: larger;
  letter-spacing: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label{
  padding-left: 5px;
  letter-spacing: 4px;
  color: rgb(26, 25, 25);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 4px;
  color: rgb(26, 25, 25);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
  background-color: rgb(197, 194, 194);
  margin-top: 10px;
  margin-left: 30px;
}
.field{
  width: 250px;
  margin-top: 5px;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  padding-left: 5px;
  letter-spacing: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-detail{
  position: fixed;
  top: 180px;
  left: 500px;
}


.model-content {
  position: relative;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  box-shadow: 0 2px 2px 0;
  /* border-radius: 10px; */
  background-color: white;
  animation: transition2 0.5s;
  overflow: auto;
  padding: 25px;
}

.close {
  color: black;
  float: right;
  font-weight: 400;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  color: white;
}

.heading-container {
}

.heading {
  margin-left: 20px;
}

.para {
  margin: 20px;
  text-align: justify;
}

@keyframes addopacity {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}


@keyframes login {
  from {
    opacity: 0.9;
    height: 40%;
  }
  to {
    opacity: 1;
    height: 50%;
  }
}


@keyframes transition1 {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(5%);
  }
}

@keyframes transition2 {
  from {
    height: 0%;
  }
  to {
    height: 50%;
  }
}
